body
{
    color: #dbdbdb;
    background-color: #0d1117;
    margin: 20px;
}

.board
{
    margin-bottom: 25px;
}

#tableAc
{
    width: 70%;
}
#tableDiff
{
    width: 80%;
}
#tableRecord, #tableHistory
{
    width: 93%;
}
#tableAc, #tableDiff, #tableRecord, #tableHistory
{
    margin-left: auto;
    margin-right: auto;
}
.tableDescription
{
    margin-left: 96px;
}

table caption
{
    font-size: 20px;
    margin-bottom: 5px;
}
th
{
    color: #c2c2c2;
}
th, td
{
    text-align: center;
    background-color: #121a26;
}

.thDiff
{
    width: 120px;
}
.thBinance, .thBitMax
{
    width: 280px;
}

.tdClose
{
    color: white;
    font-size: 20px;
}
.tdBid
{
    color: #0ecb81;
}
.tdAsk
{
    color: #f6465d;
}
.tdTime
{
    width: 160px;
}
.tdResult
{
    width: 16px;
}

.card
{
    background-color: #1e2a3b;
    padding: 20px 0;
    border-radius: 20px;
}


.SquareIcon
{
    width: 250px;
    height: 280px;

    display: inline-block;
    margin: 10px;
    padding: 0px 10px 0px 10px;

    text-align: center;
    vertical-align: middle;

    border-radius: 10px;
    background-color: #919191;

    cursor: pointer;
}
.SquareIconP
{
    height: 42px;
    padding-bottom: 10px;
}
.SquareIconPFolder
{
    height: 80px;
    padding-bottom: 10px;
    font-weight: bold;
}
.SquareIconImg
{
    height: 200px;
}