body
{
    color: #dbdbdb;
    background-color: #0d1117;
    margin: 20px;
}

select
{
    background-color: #aba9a9;
    width: 200px;
    display: inline-block;
    white-space: nowrap;
}


.collection .coinListContent .collection-item.coinListItem
{
    background-color: #121a26;
    padding: 10px 5px;

    border-bottom: 1.5px solid #353949;
}
.collection
{
    border: 2px solid #353949;
    border-radius: 5px;
}
.collection .coinListHeader
{
    padding: 2px 12px;

    font-size: 18px;
    color: white;

    cursor: pointer;
}
.collection .coinListHeader .coinListHeaderText
{
    display: inline;
}
.collection .coinListHeader .coinListHeaderPercent
{
    display: inline;
    float: right;
}
.collection .coinListContent
{
    transition: max-height 0.2s ease-out;
    max-height: 0px;
    overflow: hidden;
}

.coinSummary
{
    list-style: none;
    margin-left: 66px;
}
.coinSummary li
{
    font-size: 16px;
    display: inline-block;
}
.coinSummary li.pair
{
    font-weight: 500;
    width: 110px;
    vertical-align: top;
}
.coinSummary li.pair.longName
{
    font-size: 12px;
}
.coinSummary li.price
{
    width: 100px;
}
/*.coinSummary li.priceChange
{
    width: 300px;
}*/

.priceUp
{
    color: #0ecb81;
}
.priceDown
{
    color: #f6465d;
}


.priceBar {
  width: 220px;
  height: 10px;
  border-radius: 5px;
  background: #a1a1a1;
  margin: 12px 5px 0px 5px;
}
.priceBarFill {
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
}
li.priceLow, li.priceHigh {
  width: 80px;
  font-size: 14px;
  color: #bbb;
}
.priceLow {
  text-align: right;
}




.alarmSection
{
    padding-top: 6px;
}


.monitorCheckboxLabel
{
    margin-left: 12px;
}


.editAlarmsBtn, .editAlarmsBtn:focus
{
    float: right;
    margin-top: 4px;
    margin-right: 12px;

    border: none;
    border-radius: 4px;
    background-color: #b2b2b2;

    cursor: pointer;
}
.editAlarmsBtn:hover
{
    background-color: #ddd;
}
.editAlarmsBtn:active
{
    background-color: #aaa;
}


.switch label
{
    margin-right: 6px;
}
.switch label .lever
{
    margin: 0 10px;
    background-color: #999999;
}
.switch.priceUp label input[type=checkbox]:checked+.lever
{
    background-color: #81c784;
}
.switch.priceDown label input[type=checkbox]:checked+.lever
{
    background-color: #e57373;
}

.switch.priceUp label input[type=checkbox]:checked+.lever:after
{
    background-color: #4caf50;
}
.switch.priceDown label input[type=checkbox]:checked+.lever:after
{
    background-color: #f44336;
}
.switch.priceUp label span.alarmText
{
    color: #4caf50;
}
.switch.priceDown label span.alarmText
{
    color: #f44336;
}




.idleBell
{
    display: none;
}
.activeBell, .activeBell:hover
{
    background: #ef5350;    /*red lighten-1*/
}
.missedBell, .missedBell:hover
{
    background: darkorange;
}
.collection .collection-item.avatar .idleBell,
.collection .collection-item.avatar .activeBell,
.collection .collection-item.avatar .missedBell
{
    top: 12px;
    right: 12px;

    overflow: visible;  /*so that surrounding tooltip box could be shown*/
}

.tooltip .tooltiptext {
    visibility: hidden;

    background-color: #000000c4;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 2px 12px 2px 12px;

    text-align: left;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    /* Position the tooltip */
    width: 200px;
    height: auto;
    top: -10px;
    right: 50px;

    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}









.modalContent
{
    background-color: grey;
}
.close
{
    margin: 0 8px 12px 0;
}
h5.editAlarmTitle
{
    margin-left: 8px;
    margin-bottom: 16px;
}
.btn.removeAlarmBtn
{
    height: 35px;
    width: 35px;

    padding: 0;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
}
input.alarmInput
{
    color: white;
    box-sizing: border-box;
    padding: 0 10px;
    width: 330px;

    background-color: #aaa;
}
input.alarmInput.priceUp
{
    background-color: darkseagreen;
}
input.alarmInput.priceDown
{
    background-color: #e57373;
}
.btn.addAlarmBtn
{
    height: 35px;
    width: 35px;

    padding: 0;
    border-radius: 20px;
    margin-bottom: 10px;
}











.board
{
    margin-bottom: 25px;
}





.card
{
    background-color: #1e2a3b;
    padding: 20px 10px 10px 0;
    border-radius: 20px;
}

.input
{
    width: 150px;
    margin-left: 30px;
    display: inline-block;
}





/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}